:root {
  --black: #121212;
  --blue: #0073e6;
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: var(--blue);
  overflow: hidden;
}

.categories-container {
  width: 100%;
  height: 100%;
  padding: 2%;
}

.options-container {
  width: 100%;
  height: 93%;
  padding: 2%;
}

.dialog {
  background-color: var(--blue);
}

.dialog-toolbar {
  width: 100%;
  height: 7%;
}

#close-button {
  height: 100%;
  width: 5%;
}

#add-option-button {
  border: none;
  cursor: pointer;
}

